@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root{
    /* Color */
    --primary-blue:#0a3e6d;
    --primary-black: #0E0A23;
    --primary-white: #ffff;


    --secondary-yellow: #FFC200;
    --secondary-skyble: #6ED3DC;


    /* Font size */

    --big-font-size: 48px;
    --h--font-size: 15px;
    --nomal-font-size: 12px;
    --small-font-size: 10.5px;

    /* Font weight */

    --font-big: 700;
    --font-medium: 500;
    --font-small: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Inter', sans-serif;
}
a{
    color:white;
    text-decoration: none;
}
li{
    list-style-type: none;
}
input{
    border: none;
}
header{
    background-image: url(assets/img/Servi/background-main.png);
    background-size: cover;
    background-repeat:no-repeat;
    /* background-size:100%; */
}
.backgroud__header{
    max-width: 1080px;
    margin: 0 auto;
    /* padding: 86px 32px; */

}
nav{
    max-width: 1080px;
    margin: 0 auto;
    color: var(--primary-white);
    height: 78px;
    display: flex;
    justify-content: space-between;
    padding: 55px 32px;
    align-items: center;
}
nav > img{
    width: 104px;
    height: 32px;
}
.list__menu{
    display: inline-flex;
    font-size: var(--nomal-font-size);
    font-weight: var(--font-small);
    gap: 0 16px;
    opacity: .8;
}
.fas, .fas-search{
    font-size: var(--nomal-font-size);
    margin-right: 8px;
}
.seach{
    font-size: var(--nomal-font-size);
    opacity: .8;
    margin-right: 28px;
}
.seach__menu{
}

button{
    font-size: var(--nomal-font-size);
    border: none;
    font-weight: bold;
    border-radius: 100rem;
}
.catalog{
    background-color: white;
    color: var(--secondary-yellow);
    padding: 14px 24px;
}
.header__main{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 62px 32px;
    align-items: center;

}
.header__img{
    width: 40%;
    padding-right: -8px;
}
.button__contact{
    color: white;
    font-weight: var(--nomal-font-size);
    background: #406383;
    width: 180px;
    height: 28.5px;
    margin-top: 8px;
}
.header__contact1{
    width: 12px;
    height: 12px;
}
.header__title{
    margin: 28px 0 48px 0;
    line-height: 66px;
    color: white;
}
.header__titleh1{
    font-size: var(--big-font-size);
}
.header__conent{
    width: 100%;
}
.header__input > p{
    color: white;
    opacity: 0.7;
    line-height: 150%;
}
.input{
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 80%;
    border-radius: 9px;
    margin-top: 16px;
    background-color: white;
    overflow: hidden;
}
.input__text-form{
    padding: 15px 25px;
    border-radius: 9px;
    color: white;
}
.input__text-button{
    margin: 8px 9px 8px 32px;
    font-size: var(--nomal-font-size);
    padding: 15px 25px;
    border-radius: 6px;
    background-color: var(--secondary-yellow);
    color: white;
}
#baner__brand{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F3F6F9;
    /* height: 148px; */
    padding: 62px;
    margin: 0 auto;
}
#baner__brand > img{
    width: 80px;
    filter: grayscale(100%);
}

/* ===============MAIN============= */

/* =====WORK CONTENT====== */
.work__container{
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 86px;
}
.work__title{
    font-size: var(--big-font-size);
    letter-spacing: 0.2px;
    font-weight: var(--font-big);
    text-align: center;
}
.blue__title{
    color: var(--secondary-skyble);
}
.work__box{
    width: calc(20% + 90px);
    margin: 10px;
    /* height: 324px; */
    border: #CFD7E0 solid 1px;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.3);
    border-radius: 9px;
    padding: 32px 40px 28px 24px;
}
.work__box-img{
    position: relative;
}
.box__bgr{
    width: 68px;
    height: 68px;
    background-color: var(--primary-blue);
    opacity: 0.2;
    border-radius: 10.5px;
}
.box__img{
    position: absolute;
    top: 22.5px;
    left: 22.5px; 
    width: 24px;
}
.box__img-ornament{
    width: 30px;
    position: absolute;
    top: 45px;
    left: 46px;
}
.box__title{
    margin-top: 38px;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: var(--font-big);
    line-height: 28px;
    text-align: left;
}
.box__subtitle{
    color: black;
    letter-spacing: 0.2px;
    font-size: var(--nomal-font-size);
    line-height: 22px;
    opacity: .6;
}

.work__box-button{
    margin-top: 20px;
    font-size: var(--nomal-font-size);
    font-weight: var(--font-medium);
    color: #FFC200;
    background: var(--primary-white);
    transition:all 0.2s ease;
}
.work__box-button:hover{
    /* width: calc(100px); */
    font-size: var(--h--font-size);
    font-weight: var(--font-big)
}
.box__arrow{
    width: 15px;
}
.box__container{
    margin: 32px 32px 86px 32px;
    display: flex;
    justify-content: space-around;
}

/* ===========ABOUT US=========== */

.about-us{
    background-color: #F3F6F9;
}
.about-us__main{
    max-width: 1080px;
    margin: 0 auto;
    padding: 86px 100px;
}
.ab__title{
    font-size: var(--font-medium);
    opacity: .4;
    font-weight: 500;
    margin-bottom: 14px;
}
.ab__title-contentblue,
.ab__title-content{
    font-size: var(--big-font-size);
    letter-spacing: 0.2px;
    font-weight: var(--font-big);
    line-height: 140%px;
}
.ab__title-contentblue{
    color: var(--secondary-skyble);
    margin-bottom: 18px;
}
.about-us__img{
    position: relative;
}
.ab__img{
    width: 352px;
}
.ab__ornament{
    width: 155px;
    position: absolute;
    top: 256px;
    left: -64px;
}
.about-us__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ab__content1{
    font-size: var(--nomal-font-size);
    font-weight: 500;
    line-height: 160%;
    opacity: 0.7;
    margin-left: 75px;
}
.ab__content1 > p{
    margin: 18px 0;
}
.ab__button{
    margin-left: 75px;
}
/* ========SERVICES======= */
.sevices{
    background-image: url(assets/img/Servi/background-main.png);
    background-size: cover;
    background-repeat: none;
    color: white;
}
.sevices__box{
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.sv__content{
}
.services__box-img{
    width: 75px;
}
.sv__box-title{
    margin-top: 12px;
    color: var(--secondary-skyble); 
}
.sv__content2{
    width: 50%;
    color: white;
}
.services__title-main{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.sv__box-subtitle{
    color: white;
    margin-right: -16px;
}
.sevices__box{
    width: 100%;
    /* width: 278px; */
    /* margin-top: 40px;
    margin-left: 0px; */
}
.box__gird{
    /* width: 100%; */
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 10px; */
    gap: 10px 30px;
    flex-wrap: wrap;

}
/* =========ACTIVITY BLOG======== */
.blog__container{
    margin-bottom: 48px;
}
.blog__box-container{
    flex-wrap: wrap;
}
.blog__box{
    width: calc(35% + 80px);
    /* margin: 10px; */
}
.blog__box{
    padding: 8px;
}
.blog-box__img{
    width: 100%;
}
.blog__time{
    padding-top: 20px;
    color: black;
    letter-spacing: 0.2px;
    font-size: var(--nomal-font-size);
    line-height: 22px;
    opacity: .4;
}
.blog__title{
    margin-top: 16px;
}
.blog__box-content{
    padding: 16px 30px;
}
.blog__button-box{
    margin-left: 30px;
    margin-bottom: 30px;
}
.blog__button{
    position: relative;
    left: 50%;
    top: -30px;
    margin: 0 0 0 -68px;
    padding: 16px 36px;
}
/* ========HEADER FOOTER======= */
.banner__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 32px;
}
.banner__footer-btn{
    padding: 18px 36px;
}
.banner__footer-subtitle{
    font-size: 15px;
}
/* =========FOOTER======= */
footer{
    background-image: url(assets/img/Footer/background-footer.png);
    background-size: cover;
    background-repeat: none;
    /* overflow: auto; 
    Dùng để sử dụng Float ko bị tràn Background*/
}
.line{
    height: 1px;
    max-width: 1080px;
    margin: 0 auto;
    background-color: white;
    opacity: 0.2;
    padding: 0 32px;
}
.brand__footer{
    margin-left: 26px;
}
.footer__content{
    padding: 26px 32px;
    display: flex;
    color: white;
}
.footer__content1{
    width: 40%;
    line-height: 22px;
    font-size:var(--nomal-font-size);
}
.footer__content1 > p{
    opacity: .8;
}
.policy{
    display: inline-flex;
    gap: 0 40px;
    margin-top: 56px;
}
.footer__content2{
    display: flex;
    font-size:var(--nomal-font-size);
    width: 40%;
    justify-content: space-around;
}
.abus > li{
    line-height: 160%;
    margin-top: 12px;
}
.footer__content3{
    padding: 0 32px 56px;
    display: flex;
    gap: 0 200px;
    justify-content: flex-start;
    align-items:flex-start;
}
.img__footer1{
    width: 232px;
}
.img__footer{
    width: 200px;
}
/* ================ RESPONSIVE=========== */
/* for table */
@media only screen and (max-width: 820px ){
    :root{
        --big-font-size: 40px;
    }
    .input{
        width: 90%;
    }
    .input{
        height: 56px;
    }
    .input > .input__text-button{
        padding: 4px 8px;
        margin: 6px 8px 6px 0;
    }
    #baner__brand > img{
        width: 70px;
    }
    .ab__img{
        width: 300px;
    }
    .ab__content1{
        margin-left: 40px;
    }
    .ab__button{
        margin-left: 56px;
    }
    .ab__ornament{
        width: 125px;
    }
    .about-us__main{
        padding: 86px 30px;
    }
    .box__gird{
        grid-template-columns: auto auto;
        gap: 10px 0px;
    }
    .work__box{
        width: 60%
    }
    .sevices__box{
        width: 90%;
    }
    .blog__box{
    }
    /* .input__text-button{
        padding: 12px 20px;
    } */
    .list__menu{
        display: none;
    }
    .header__main{
        padding-top: 0;
    }
    .work__box-container{
        flex-wrap: wrap;
    }
}
/* responsive for mobile */
@media only screen and (max-width: 600px ){
    :root{
        --big-font-size: 32px;
    }
    .box__container{
        margin: 32px 0 56px 0;
    }
    .input{
        height: 56px;
    }
    .input > .input__text-button{
        padding: 4px 8px;
        margin: 6px 8px 6px 0;
    }
    .seach__menu{
        display: none;
    }
    .header__main{
        flex-direction: column;
    }
    .header__img{
        margin-top: 20px;
        width: 80%;
    }
    #baner__brand{
        flex-wrap: wrap;
        gap: 15px;
    }
    .work__container{
        margin: 56px 32px;
    }
    .work__box{
        width: calc(70% + 90px);
    }
    .about-us__main{
       padding: 56px 56px;
    }
    .about-us__container{
        flex-direction: column;
    }
    .ab__ornament{
        display: none;
    }
    .ab__img,
    .img__footer,
    .img__footer1{
        width: 85%;
    }
    .ab__content1,
    .banner__footer-btn{
        margin: 0;
    }
    .ab__button{
        margin-left: 0;
    }
    .services__title-main{
        flex-direction: column;
    }
    .sv__content2{
        margin: 20px 0;
        width: 100%;
    }
    .box__gird{
        grid-template-columns: auto;
    }
    .banner__footer{
        flex-direction: column;
        align-items: flex-start
    }
    .rep__mobile{
        margin: 0 100px;
    }
    .blog__box-container{
        margin: 20px 0;
    }
    .blog__button{
        top: 0;
        /* margin: 0 0 0 -50px; */
    }
    .banner__footer-subtitle{
        margin: 20px 0;
    }
    .footer__brand{
        display:inherit;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 40px 0px;
        padding-top: 32px;
    }
    .brand__footer{
        width: 10%;
        margin: 10px 15px 10px 0;
    }
    .footer__content1{
        width: 100%;
        padding-top: 20px;
    }
    .policy{
        margin:20px 0 32px 0;
        display: block;
    }
    .footer__content{
        align-items: flex-start;
    }
    .footer__content2{
        gap: 15px;
    }
    .img__footer,
    .img__footer1{
        width: 60%;
    }
} 