@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root{
    /* Color */
    --primary-blue:#0a3e6d;
    --primary-black: #0E0A23;
    --primary-white: #ffff;


    --secondary-yellow: #FFC200;
    --secondary-skyble: #6ED3DC;


    /* Font size */

    --big-font-size: 48px;
    --h--font-size: 15px;
    --nomal-font-size: 12px;
    --small-font-size: 10.5px;

    /* Font weight */

    --font-big: 700;
    --font-medium: 500;
    --font-small: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style-type: none;
}
input{
    border: none;
}
header{
    background-image: url(/assets/img/Header/Background-header.png);
    background-size: cover;
    background-repeat: none;
}
nav{
    max-width: 1080px;
    margin: 0 auto;
    color: var(--primary-white);
    height: 78px;
    display: flex;
    justify-content: space-between;
    padding: 55px 32px;
    align-items: center;
}
nav > img{
    width: 104px;
    height: 32px;
}
.list__menu{
    display: inline-flex;
    font-size: var(--nomal-font-size);
    font-weight: var(--font-small);
    gap: 0 16px;
    opacity: .8;
}
.fas, .fas-search{
    font-size: var(--nomal-font-size);
    margin-right: 8px;
}
.seach{
    font-size: var(--nomal-font-size);
    opacity: .8;
    margin-right: 28px;
}
.seach__menu{
}

button{
    font-size: var(--nomal-font-size);
    border: none;
    font-weight: bold;
    border-radius: 100rem;
}
.catalog{
    background-color: white;
    color: var(--secondary-yellow);
    padding: 14px 24px;
}
.header__main{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 62px 32px;

}
.header__img{
    width: 40%;
    padding-right: -8px;
}
.button__contact{
    color: white;
    font-weight: var(--nomal-font-size);
    background: #406383;
    width: 180px;
    height: 28.5px;
}
.header__contact1{
    width: 12px;
    height: 12px;
}
.header__title{
    margin: 28px 0 48px 0;
    line-height: 66px;
    color: white;
}
.input{
    display: inline-block;
    background-color: white;
}
.header__titleh1{
    font-size: var(--big-font-size);
}
.header__content{  
}
.header__input > p{
    color: white;
    opacity: 0.7;
    line-height: 150%;
}
.input{
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 120%;
    border-radius: 9px;
    margin-top: 16px;
}
.input__text-form{
    padding: 15px 25px;
    border-radius: 9px;
    color: white;
}
.input__text-button{
    margin: 8px 9px 8px 32px;
    font-size: var(--nomal-font-size);
    padding: 15px 25px;
    border-radius: 6px;
    background-color: var(--secondary-yellow);
    color: white;
}
#baner__brand{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F3F6F9;
    height: 148px;
    padding: 62px;
    margin: 0 auto;
}
#baner__brand > img{
    width: 96px;
    filter: grayscale(100%);
}

/* ===============MAIN============= */

/* =====WORK CONTENT====== */
.work__container{
    max-width: 1080px;
    margin: 86px auto;
}
.work__title{
    font-size: var(--big-font-size);
    letter-spacing: 0.2px;
    font-weight: var(--font-big);
    text-align: center;
}
.blue__title{
    color: var(--secondary-skyble);
}
.work__box{
    width: 30%;
    /* height: 324px; */
    border: #CFD7E0 solid 1px;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.3);
    border-radius: 9px;
    padding: 32px 40px 28px 24px;
}
.work__box-img{
    position: relative;
}
.box__bgr{
    width: 68px;
    height: 68px;
    background-color: var(--primary-blue);
    opacity: 0.2;
    border-radius: 10.5px;
}
.box__img{
    position: absolute;
    top: 22.5px;
    left: 22.5px; 
    width: 24px;
}
.box__img-ornament{
    width: 30px;
    position: absolute;
    top: 45px;
    left: 46px;
}
.box__title{
    margin-top: 38px;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: var(--font-big);
    line-height: 28px;
    text-align: left;
}
.box__subtitle{
    color: black;
    letter-spacing: 0.2px;
    font-size: var(--nomal-font-size);
    line-height: 22px;
    opacity: .6;
}

.work__box-button{
    margin-top: 20px;
    font-size: var(--nomal-font-size);
    font-weight: var(--font-medium);
    color: #FFC200;
    background: var(--primary-white);
    transition:all 0.2s ease;
}
.work__box-button:hover{
    /* width: calc(100px); */
    font-size: var(--h--font-size);
    font-weight: var(--font-big)
}
.box__arrow{
    width: 15px;
}
.box__container{
    margin: 32px 32px 86px 32px;
    display: flex;
    justify-content: space-around;
}
/* ===========ABOUT US=========== */

.about-us{
    background-color: #F3F6F9;
}
.about-us__main{
    max-width: 1080px;
    margin: 0 auto;
    padding: 86px 100px;
}
.ab__title{
    font-size: var(--font-medium);
    opacity: .4;
    font-weight: 500;
    margin-bottom: 14px;
}
.ab__title-contentblue,
.ab__title-content{
    font-size: var(--big-font-size);
    letter-spacing: 0.2px;
    font-weight: var(--font-big);
    line-height: 140%px;
}
.ab__title-contentblue{
    color: var(--secondary-skyble);
    margin-bottom: 18px;
}
.about-us__img{
    position: relative;
}
.ab__img{
    width: 352px;
}
.ab__ornament{
    width: 155px;
    position: absolute;
    top: 256px;
    left: -64px;
}
.about-us__container{
    display: flex;
    justify-content: center;
    
}
.ab__content1{
    font-size: var(--nomal-font-size);
    font-weight: 500;
    line-height: 160%;
    opacity: 0.7;
    margin-left: 75px;
}
.ab__content1 > p{
    margin: 18px 0;
}
.ab__button{
    margin-left: 75px;
}
/* ========SERVICES======= */
.sevices{
    background-image: url(/assets/img/Servi/background-main.png);
    background-size: cover;
    background-repeat: none;
    color: white;
}
.sevices__box{
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.sv__content{
}
.services__box-img{
    width: 75px;
}
.sv__box-title{
    margin-top: 12px;
    color: var(--secondary-skyble); 
}
.sv__content2{
    width: 50%;
    color: white;
}
.services__title-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sv__box-subtitle{
    color: white;
    margin-right: -16px;
}
.box__table{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
/* =========ACTIVITY BLOG======== */
.blog__container{
    margin-bottom: 48px;
}
.blog__box{
    width: 48%;
}
.blog__box{
    padding: 8px;
}
.blog-box__img{
    width: 100%;
}
.blog__time{
    padding-top: 20px;
    color: black;
    letter-spacing: 0.2px;
    font-size: var(--nomal-font-size);
    line-height: 22px;
    opacity: .4;
}
.blog__title{
    margin-top: 16px;
}
.blog__box-content{
    padding: 16px 30px;
}
.blog__button-box{
    margin-left: 30px;
    margin-bottom: 30px;
}
.blog__button{
    position: relative;
    left: 50%;
    top: -30px;
    margin: 0 0 0 -68px;
    padding: 16px 36px;
}
/* ========HEADER FOOTER======= */
.banner__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 32px;
}
.banner__footer-btn{
    padding: 16px 36px;
}
.banner__footer-subtitle{
    font-size: 15px;
}
/* =========FOOTER======= */
footer{
    background-image: url(/assets/img/Footer/background-footer.png);
}


